* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../images/stones.jpg);
    /* background-image: linear-gradient(to top, rgb(0, 137, 107), rgba(255, 77, 0, 0.9)); */
    background-repeat: no-repeat;
    overflow: hidden;
    min-height: 100vh;
    margin: 0;
    padding: 5rem;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-container > img {
    margin-top: -17rem;
    transform: scale(.85);
}

.game-data {
    box-shadow: 0 0 1rem rgb(50, 205, 125);
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(242, 255, 0, 0.801);
    color: rgba(0, 20, 10, 0.678);
    border: .25rem solid rgb(50, 205, 125);
    border-radius: .5rem;
    margin: 2rem;
    padding: 3rem;
    margin-top: -10rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    height: 5rem;
    width: auto;
}

.game-timer, .game-score, .game-completed {
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    padding: 1rem;
}

#timer, #score, #completed {
    color: rgba(1, 80, 46, 0.71);
    font-weight: 900;
    font-size: 2rem;

}

.game-display {
    background-color: rgba(242, 255, 0, 0.801);
    border-radius: .5rem;
    border: .25rem solid rgb(50, 205, 125);
    padding: 2rem;
}

.game-quote {
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    color: rgb(0, 42, 24);
    margin-bottom: 1rem;
    margin-left: calc(.25rem + .1rem);
}

.quote-input {
    font-family: sans-serif;
    font-size: 1.75rem;
    font-weight: bold;
    background-color: rgba(0, 20, 10, 0.555);
    color: rgb(185, 255, 219);
    border: .15rem solid rgb(50, 205, 125);
    border-radius: .25rem;
    outline: none;
    width: 100%;
    height: 10rem;
    margin: auto;
    padding: .25rem;
}

.quote-input:focus {
    border-color: rgb(0, 20, 10);
}

footer {
    text-align: center;
    color: rgba(245, 245, 245, 0.557);
    font-family: sans-serif;
    margin-top: 1.5rem;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
    text-decoration: underline;
}