* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, rgb(0, 137, 107), rgba(255, 77, 0, 0.9));
    overflow-y: hidden;
    overflow-x: hidden;
}

.game-containter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

.game-data {
    color: rgb(255, 255, 255);
    padding: 3rem;
    outline: 1rem solid whitesmoke;
    margin-bottom: 7rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3rem;
}

.game-instruction {
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.779);
    text-transform: capitalize;

}
/* .game-timer {

}

.game-score {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 3rem;
} */

.game-display {
    font-family: sans-serif;
    font-size: 2rem;
    background-color: rgb(255, 234, 0);
    border-radius: 1rem;
    border: .25rem solid whitesmoke;
    flex-direction: column;
    text-align: center;    
    margin: 2rem;
    padding: 1rem;
    color: rgba(0, 0, 0, 0.687);
}

.game-quote {
    margin: 1.5rem;
    font-weight:900;
    text-transform:uppercase;

}

.quote-input {
    font-size: 2.5rem;
    text-align: center;
    text-transform:uppercase;

}