* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to top, rgb(0, 137, 107), rgba(255, 77, 0, 0.9));
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
    min-width: 100vw;
    min-height: 100vh;
}

.game-containter {

}

.game-data {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.381);
    color: rgb(255, 255, 255);
    outline: .25rem solid whitesmoke;
    border-radius: .5rem;
    margin: 2rem;
    padding: 3rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1rem;
    height: 5rem;
    width: auto;
}

.game-instruction {
    text-align: center;
    font-size: 2rem;
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.779);
    text-transform: capitalize;
    font-style: italic;  
    margin-bottom: .25rem;
}

.game-timer, .game-score, .game-level {
    line-height: 2rem;
    text-align: center;
}


.game-display {
    font-family: sans-serif;
    font-size: 2rem;
    background-color: rgb(241, 49, 139);
    border-radius: .5rem;
    border: .25rem solid whitesmoke;
    flex-direction: column;
    text-align: center;    
    margin: 2rem;
    padding: 2rem;
    color: #210030af;
}

.game-quote {
    margin-bottom: 3rem;
    font-weight:900;
    text-transform:uppercase;

}

.quote-input {
    font-size: 2.5rem;
    text-align: center;
    text-transform:uppercase;
    width: auto;
}

footer {
    text-align: center;
    margin: 7rem;
    color: whitesmoke;
    font-family: sans-serif;
}